#weather_settings_container{
    display: flex;
    flex-direction: row;
    background-color: #03478050;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;
    max-height: max-content;
    margin-bottom: 20px;
}

#tab_information_container{
    display: block;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
    border-radius: 5px;
}

.settings_tab_info .row{
    display: flex;
    flex-direction: row;
}

.settings_tab_info .column{
    display: flex;
    flex-direction: column;
}